body {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding-top: 5rem;
    margin: 0 auto;
    width: 600px;
}

.rm-btn {
    background: red;
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

/* LOADER => */
/* copied from https://loading.io/css */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    /* border: 6px solid #fff; */
    border: 6px solid blue;
    border-color: blue transparent blue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* <= LOADER */
